


/* Media query for screens 728px and wider */
@media (min-width: 728px) {

    /*================ABOUT/MISSION============*/

    #amw {
        margin-top: -150px;
        position: absolute;
    }
    

    .amw2 {
        background-color: var(--lightgold-color);
        margin-right: 50px;
        margin-left: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }



     /*---------------EVENTS COVERED---------*/

     #trusted {
        margin-top: 700px;
        text-align: center;
        overflow: hidden;
    }


    .trust-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: auto;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        gap: 30px;
        margin-top: 40px;
        
    }

    .trusted1 p {
        padding-left: 10%;
        padding-right: 10%;
    }


    


    .mother-trust {
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 40px;
    }


     /*---------------GALLERY--------------*/


     .mother-photo {
        padding-left: 50px;
        padding-right: 50px;
    }

    #photo {
        margin-top: 70px;
        overflow: hidden;
        margin-bottom: 80px;
    }

    .photo2 img {
        width: 50%;
    }


    .photo-text {
        display: flex;
        flex-direction: row;
        gap: 80px;
        text-align: left;
        padding-left: 65px;
        padding-right: 65px;
        margin-top: 80px;
        
    }

    .photo-text h2 {
        width: 100%;
    }

    .photo-text p {
        margin-top: 0px;
    }




    /* ======STYLE FOR SERVICES RENDERED======= */
    

    .svc1 {
        display: flex;
        flex-direction: row;
        gap: 100px;
        text-align: left;
        margin-top: 80px;
        
    }

    .svc0 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .svc2 {
        width: 100%;
    }


    .sc {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }


    /*--------------------Experience----------------*/


  #satis {
    background-image: url(image/16.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: hidden;
    height: 80vh;
    background-color: #080808c5;
    background-blend-mode: overlay;
    opacity: 1;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    
}


.expt {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 40px;
}


.c-client {
    display: flex;
    flex-direction: row;
    gap: 80px;
    

}


.expt h1 {
    font-family: var(--font-2);
    color: var(--white-color);
    font-size: 2.5em;
    font-weight: 500;
    padding-left: 0px;
    padding-right: 0px;
}


/*--------------------------------------tESTIMONIAL----------------------*/

.testii {
    padding-left: 50px;
 }


 .testimonial-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* margin-right: 10px; */
    /* gap: 20px; */
    width: 100%;

    
}

 .box {
    min-width: 50%; /* Two testimonials side by side */
    position: relative;
    
    
    
}

.testii h1 {
    font-size: 2.5em;
    padding-right: 30%;
}


/*-----------------------PROJECTS--------------*/

#project {
    background-color: var(--lightgold-color);
    margin-top: 90px;
    overflow: hidden;
    margin-bottom: 0px;

}

.p-mother {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 30px;
    padding-right: 30px;
    gap: 80px;
}

.demo {
    margin-top: 250px;
}

.dem {
    position: relative;
    top: -200px;
}

.demi {
    margin-bottom: 100px;
}

.project-title {
    padding-left: 30px;
    padding-right: 30px;
}

.project-title h2 {
    padding-right: 20%;
    font-weight: 800;
}



  /*--------------------FOOOOOOOOTER=========*/

  .fut {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    gap: 50px;
   
}

.fut1 p {
    padding-right: 10%;
}

.fut2 {
    position: relative;
    /* left: -200px; */
}

.fut-social {
    position: relative;
    left: 25px;
}

.cpy p {
    padding-left: 70px;
}
      



}









/* Media query for screens 1024px and wider */
@media (min-width: 1024px) {
    .menu-icon {
        display: none;
    }

    .nav-menu {
        display: flex !important;
        position: relative;
        background: transparent;
        flex-direction: row;
        justify-content: flex-end;
        top: 10px;
    }

    .nav-link {
        color: white;
        font-size: 18px;
        padding: 0 15px;
    }

    .nav-link:hover {
        color: var(--gold-color);
    }






    /*----------HERO SECTION-----------*/

    #hero {
        position: relative;
        height: 150vh;
        overflow: hidden;
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        transition: opacity 0.7s ease-in-out;
    }


    /*================ABOUT/MISSION============*/

    #amw {
        margin-top: -150px;
        position: absolute;
    }
    

    .amw2 {
        background-color: var(--lightgold-color);
        margin-right: 70px;
        margin-left: 70px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-direction: row;
        gap: 80px;
    }




    /*---------------EVENTS COVERED---------*/

    #trusted {
        margin-top: 300px;
        text-align: center;
        overflow: hidden;
    }


    .trust-img {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        height: auto;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        gap: 30px;
        margin-top: 40px;
        
    }

    .trusted1 p {
        padding-left: 20%;
        padding-right: 20%;
    }


    


    .mother-trust {
        padding-left: 70px;
        padding-right: 70px;
        margin-bottom: 40px;
    }
      


    /* ======STYLE FOR SERVICES RENDERED======= */
    

    .svc1 {
        display: flex;
        flex-direction: row;
        gap: 80px;
        text-align: left;
        padding-left: 65px;
        padding-right: 65px;
        margin-top: 80px;
        
    }

    .svc2 {
        width: 100%;
    }

    .sc {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 65px;
        padding-right: 65px;
    }




    /*---------------GALLERY--------------*/


    .mother-photo {
        padding-left: 70px;
        padding-right: 70px;
    }


    .photo2 img {
        width: 20%;
    }


    .photo-text {
        display: flex;
        flex-direction: row;
        gap: 80px;
        text-align: left;
        padding-left: 65px;
        padding-right: 65px;
        margin-top: 80px;
        
    }

    .photo-text h2 {
        width: 100%;
    }

    .photo-text p {
        margin-top: 0px;
    }


    
    /*--------------------EXPERIENCE----------------*/


    #satis {
        background-image: url(image/16.jpg);
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        overflow: hidden;
        height: 90vh;
        background-color: #080808c5;
        background-blend-mode: overlay;
        opacity: 1;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        
    }


    .expt {
        padding-left: 70px;
        padding-right: 70px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 40px;
        justify-content: center;
        align-content: center;
    }


    .c-client {
        display: flex;
        flex-direction: row;
        gap: 80px;
        justify-content: center;
        align-content: center;
        

    }


    .expt h1 {
        font-family: var(--font-2);
        color: var(--white-color);
        font-size: 2.5em;
        font-weight: 500;
        padding-left: 70px;
        padding-right: 70px;
    }



    /*-------------------TESTIMONIAL-------------------*/


    .testii {
        padding-left: 70px;
    }

    .testii h1 {
        font-size: 2.5em;
        padding-right: 70%;
    }


    .testimonial-wrapper {
        display: flex;
        transition: transform 0.5s ease-in-out;
        /* margin-right: 10px; */
        /* gap: 20px; */
        width: 100%;

        
    }


    .box {
        min-width: 50%; /* Two testimonials side by side */
        position: relative;
        
        
        
    }

    /*-----------------------PROJECTS--------------*/

    #project {
        background-color: var(--lightgold-color);
        margin-top: 90px;
        overflow: hidden;
        margin-bottom: 0px;

    }

    .p-mother {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 70px;
        padding-right: 70px;
        gap: 80px;
    }

    .demo {
        margin-top: 250px;
    }

    .dem {
        position: relative;
        top: -200px;
    }

    .demi {
        margin-bottom: 100px;
    }

    .project-title {
        padding-left: 70px;
        padding-right: 70px;
    }

    .project-title h2 {
        padding-right: 50%;
        font-weight: 800;
    }



     /*--------------------FOOOOOOOOTER=========*/

     .fut {
        display: flex;
        flex-direction: row;
        padding-left: 70px;
        padding-right: 70px;
        justify-content: space-between;
       
    }

    .fut1 p {
        padding-right: 50%;
    }

    .fut2 {
        position: relative;
        left: -200px;
    }

    .fut-social {
        position: relative;
        left: 25px;
    }

    .cpy p {
        padding-left: 70px;
    }



}